ul {
    list-style-type: none;
}
.info-class {
    margin: 7.5em .3em 2em;
}
.info-class a {
    text-decoration: none;
}
.info-class a:hover {
    text-decoration: underline;
}
.info-class h1 {
    margin-bottom: .7em;
}

.info-class p {
    margin-bottom: 2em;
    line-height: 1.8em;
}
article ol {
    padding:0 1.5em 0 ;
}
.channel-list{
    margin: 1em 1em;
    padding: 0 1em;
    border-left: 2px solid #0B2545;
    border-top: 2px solid #0B2545 ;
    border-radius: 1em;
}
article h2 {
    margin: 1em 0;
}
.article li {
    margin: 1em 0;
    line-height: 23px;
}
.update {
    font-style: italic;
    font-weight: bolder;
}
.list--img {
    width: 100%;
    border-radius: 1em;
}
.profile--img {
    border-radius: 50%;
    width: 60%;
    display: block;
    margin: auto;
}
.profile--fig figcaption {
    text-align: center;
    padding: 1em;
    letter-spacing: .3em;
}
.blog--article {
    background: #eee;
    padding: 1em;
}